<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{request.session.active_website}}</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/bootstrap/B_Template/css/bootstrap.min.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="/static/bootstrap/B_Template/fonts/css/font_B_1.css" rel="stylesheet" type="text/css">
    <link href="/static/bootstrap/B_Template/fonts/css/font_B_2.css" rel="stylesheet" type="text/css">
    


	<link rel="stylesheet" href="/static/css/main_a.css">
	<link rel="stylesheet" href="/static/css/buttons3.css"> 
	<!-- <link rel="stylesheet" href="/static/css/main_B.css"> -->

	<link rel="stylesheet" href="/static/css/business-casual.css"> 
	<link rel="stylesheet" href="/static/css/B_blog.css"> 

  <!-- ***************************************************** -->
  <!-- Include Div Class for Link Forms -->
  {% include "div_classes/B/B_edit1_1.html" %}        <!-- modals for link rename -->
  {% include "div_classes/B/B_edit1_2.html" %}
  {% include "div_classes/B/B_edit1_3.html" %}
  {% include "div_classes/B/B_edit1_4.html" %}
  {% include "div_classes/B/B_edit1_1_rename.html" %} 
  {% include "div_classes/B/B_edit1_2_rename.html" %}
  {% include "div_classes/B/B_edit1_3_rename.html" %}
  {% include "div_classes/B/B_edit1_4_rename.html" %} <!-- ********************** -->
  {% include "div_classes/image1_edit.html" %}  <!-- modals for image uploads -->
  {% include "div_classes/image_back_edit.html" %}   
  {% include "div_classes/image_back_reload.html" %}
  {% include "div_classes/image1_slide.html"%}
  {% include "div_classes/image1_slide_reload.html"%}
  {% include "div_classes/image2_slide.html"%}
  {% include "div_classes/image2_slide_reload.html"%}
  {% include "div_classes/image3_slide.html"%}
  {% include "div_classes/image3_slide_reload.html"%}
  {% include "div_classes/image1_reload.html" %} <!-- ********************** -->
  {% include "div_classes/page1_1_edit.html" %}  <!-- modals for Information Edits -->
  {% include "div_classes/page1_2_edit.html" %}
  {% include "div_classes/page1_3_edit.html" %}
   {% include "div_classes/page1_4_edit.html" %}
    {% include "div_classes/page1_5_edit.html" %}
    {% include "div_classes/page1_6_edit.html" %}
   {% include "div_classes/page1_7_edit.html" %}
    {% include "div_classes/page1_8_edit.html" %} 
    {% include "div_classes/page1_9_edit.html" %}
    {% include "div_classes/page2_1_edit.html" %}
    {% include "div_classes/page2_2_edit.html" %} 
    {% include "div_classes/page2_3_edit.html" %} 
    {% include "div_classes/page2_4_edit.html" %}  
    {% include "div_classes/page2_5_edit.html" %} 
    {% include "div_classes/page2_6_edit.html" %}
    {% include "div_classes/page2_7_edit.html" %} 
    {% include "div_classes/page2_8_edit.html" %} <!-- ********************** -->
  <!-- ***************************************************** -->

</head>

<body>
	
  <img alt="full screen background image" src="/static/wec/wec_company/{{request.session.active_website}}/backB.jpg?{{TCUR}}" alt="" id="full-screen-background-image" />
    
    <!-- Company Name -->
    <div class="brand">{{list.4.1}}</div>
    <!-- Main Address of Company -->
    <div class="address-bar">{{list.25.1}} | {{list.26.1}} , {{list.27.1}} {{list.28.1}}| {{list.30.1}}</div>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="/home/{{request.session.addy}}">{{list.4.1}}</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                  <li><a href="#B_edit1_1" role="button" class="button" data-toggle="modal">{{list.0.1}}</a></li>	
                  <li><a href="#B_edit1_2" role="button" class="button" data-toggle="modal">{{list.1.1}}</a></li>	
                  <li><a href="#B_edit1_3" role="button" class="button" data-toggle="modal">{{list.2.1}}</a></li>	
                  <li><a href="#B_edit1_4" role="button" class="button" data-toggle="modal">{{list.3.1}}</a></li>	

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

{% block content %}

    <div class="container">
        <table style="width:100%;">
            <tr>
                <td><a href="#image_back_edit" class="button button3" data-toggle = "modal">Edit Background</a></td>
                <td><a href="#image1_slide" class="button button3" data-toggle = "modal">Edit Slide 1</a></td>
                <td><a href="#image2_slide" class="button button3" data-toggle = "modal">Edit Slide 2</a>
                <td><a href="#image3_slide" class="button button3" data-toggle = "modal">Edit Slide 3</a></td>
            </tr>
        </table>
        
        <br>
        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                        </ol>

                        <!-- Wrapper for slides 
							  Trouble with object-fit-cover going in a class to load so style was placed 
							  directly in each of the 3 slides in the carousel
							  -->
                        <div class="carousel-inner">
                            <div class="item active">
                                
                                <img style="width:100%;height:380px;object-fit:cover;" src="/static/wec/wec_company/{{request.session.active_website}}/slide-1.jpg?{{TCUR}}"   alt="">
								<div class="carousel-caption d-none d-md-block">
									<h4 class="text-shadow">{{list.16.1}}</h3>
								</div>
							</div>
                            
                            <div class="item">
                                
                                <img style="width:100%;height:380px;object-fit:cover;" src="/static/wec/wec_company/{{request.session.active_website}}/slide-2.jpg?{{TCUR}}" alt="" width="600" height="600">
								<div class="carousel-caption d-none d-md-block">
									<h4 class="text-shadow">{{list.17.1}}</h3>
								</div>
                            </div>
                            <div class="item">
                                
                                <img style="width:100%;height:380px;object-fit:cover;" src="/static/wec/wec_company/{{request.session.active_website}}/slide-3.jpg?{{TCUR}}" alt="" width="600" height="600">
								<div class="carousel-caption d-none d-md-block">
									<h4 class="text-shadow">{{list.18.1}}</h3>
								</div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="https://blackrockdigital.github.io/startbootstrap-business-casual/#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="https://blackrockdigital.github.io/startbootstrap-business-casual/#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    <h2 class="brand-before">
                        <small>Welcome to</small>
                    </h2>
                    <h1 class="brand-name">{{list.4.1}}</h1>
                    <hr class="tagline-divider">
                    <h2>
                        <small>
                            <strong>{{list.6.1}}</strong>
                        </small>
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">{{list.7.1}}
                        <strong>{{list.8.1}}</strong>
                    </h2>
                    <hr>
                    <a href="#ModalForm6" class="button button3" data-toggle = "modal">Edit Image</a><br>
                    <img class="img-responsive img-border img-left" src="/static/wec/wec_company/{{request.session.active_website}}/intro-pic.jpg?{{TCUR}}"  alt="" width="200" height="200">
                    <hr class="visible-xs">
                    <p>{{list.9.1}}</p>
                    <p>{{list.10.1}}</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">{{list.11.1}}
                        <strong>{{list.12.1}}</strong>
                    </h2>
                    <hr>
                    <p>{{list.13.1}}</p>
                    <p>{{list.14.1}}</p>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->



{% endblock %}


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>{{list.15.1}}</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/static/bootstrap/B_Template/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/bootstrap/B_Template/js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>




</body></html>
