
{% extends "web_templates/B/B_main.html" %}
{% block content %}

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">{{list.23.1}}
                        <strong>{{list.4.1}}</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-8">
					



                    <!-- Embedded Google Map using an iframe - to select your location find it on Google maps and paste the link as the iframe src. If you want to use the Google Maps API instead then have at it! -->
                    <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD29U9SH7Q9ey3kUzXlZ7BIHqxsMcC5VOA &q={{x1}}+{{x2}},{{x3}}+{{x4}}"></iframe>
                </div>
                <div class="col-md-4">
                    <p>Phone:
                        <strong>{{list.30.1}}</strong>
                    </p>
                    <p>Email:
                        <strong><a href="mailto:{{list.31.1}}">{{list.31.1}}</a></strong>
                    </p>
                    <p>Address:
                        <strong>{{list.25.1}}
                            <br>{{list.26.1}}, {{list.27.1}} &nbsp;{{list.28.1}}
                            <br>{{list.29.1}}</strong>
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Contact
                        <strong>form</strong>
                    </h2>
                    <hr>
                    <p>{{list.24.1}}</p>
                    <form role="form">
                        <div class="row">
                            <div class="form-group col-lg-4">
                                <label>Name</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Email Address</label>
                                <input type="email" class="form-control">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Phone Number</label>
                                <input type="tel" class="form-control">
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-lg-12">
                                <label>Message</label>
                                <textarea class="form-control" rows="6"></textarea>
                            </div>
                            <div class="form-group col-lg-12">
                                <input type="hidden" name="save" value="contact">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
{% endblock %}

