{% extends "web_templates/B/B_main.html" %}
{% block content %}


    <div class="container">

      <div class="bg-faded p-4 my-4">
        <div class="card card-inverse">
          <img style="width:100%;height:500px;object-fit:cover;"  src="/static/wec/wec_company/{{request.session.active_website}}/slide-1.jpg?{{TCUR}}" alt="">
          <div class="card-img-overlay bg-overlay">
            <h2 class="card-title text-shadow text-white text-uppercase mb-0">Post Title</h2>
            <h4 class="text-shadow text-white">March 1, 2017</h4>
            <p class="text-white">{{list.20.1}}</p>
            <a href="#" class="btn btn-secondary">Read More</a>
          </div>
        </div>
      </div>
      <br><br>

      <div class="bg-faded p-4 my-4">
        <div class="card card-inverse">
          <img style="width:100%;height:500px;object-fit:cover;"  src="/static/wec/wec_company/{{request.session.active_website}}/slide-2.jpg?{{TCUR}}" alt="">
          <div class="card-img-overlay bg-overlay">
            <h2 class="card-title text-shadow text-white text-uppercase mb-0">Post Title</h2>
            <h4 class="text-shadow text-white">March 1, 2017</h4>
            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit repellat provident quo aliquam eius ea, animi porro magnam totam dolor nam error quas labore eveniet dicta nostrum inventore veniam. Ipsam?</p>
            <a href="#" class="btn btn-secondary">Read More</a>
          </div>
        </div>
      </div>
<br><br>
      <div class="bg-faded p-4 my-4">
        <div class="card card-inverse">
          <img style="width:100%;height:500px;object-fit:cover;"  src="/static/wec/wec_company/{{request.session.active_website}}/slide-3.jpg?{{TCUR}}" alt="">
          <div class="card-img-overlay bg-overlay">
            <h2 class="card-title text-shadow text-white text-uppercase mb-0">Post Title</h2>
            <h4 class="text-shadow text-white">March 1, 2017</h4>
            <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit repellat provident quo aliquam eius ea, animi porro magnam totam dolor nam error quas labore eveniet dicta nostrum inventore veniam. Ipsam?</p>
            <a href="#" class="btn btn-secondary">Read More</a>
          </div>
        </div>
      </div>
<br><br>
      <!-- Pagination -->
      <!-- Utilize a toggle to determine if there are more then utilize disabled -->
      <div class="bg-faded p-4 my-4">
        <ul class="pagination justify-content-center mb-0">
          <li class="page-item disabled">
            <a class="page-link" href="#">&larr; Older</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">Newer &rarr;</a>
          </li>
        </ul>
      </div>

    </div>
    <!-- /.container -->
<br><br>
{% endblock %}
