<!-- ***************************************************   Modal ******************************************  -->
<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
<div class="modal fade" id="image1_slide_reload" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
		<div class="modal-dialog modal-sm">
        <div class="modal-content">
            <!-- Modal Header -->

            
            <!-- Modal Body -->
            <div class="modal-body">                
				<!-- <form class="form-horizontal" role="form"> -->

				 <input type="file" class="form-control" id="image" name="image">


				<input type="hidden" value="slide-1" name="form_type" />
            </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
			<!--
                <button type="submit" class="btn btn-default"
                        data-dismiss="modal">
                            Enter
                </button>
				-->
				&nbsp;<input type="submit" value="Upload image"/>
            </div>
        </div>    
        </div>
    </div>
</div>

</form>  
