{% extends "main.html" %}

    {% block style1 %}

        .pos{position:absolute; top:15%; left:50%; margin-left:-33%}

    {% endblock %}

{% block content %}
    <div class="pos">
        <div class="container">
            <div class="col-sm-8" style="background-color: #000000; opacity: 0.6;border-radius: 15px;font-size: 115%;">   

                <font color="white" style="z-index: 9999;"><center>
                <h2><b>A Word About WeCloud</b></h2></center>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;A website should be simple to use yet have powerful tools that can benefit your company.  
                    WeCloud was created to do just that.  It allows you to create and customize your website 
                    with a few clicks but it also gives you complete control of that site.  You can update advertisments,
                    change graphics or add powerful features.  You can have your webpage become a powerful webapp main menu
                   enabling users that log into it to run other webapps.  You could run many webapps from one interface and 
                    take advantage of a huge database system constructed specificlly for your business.</p><br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;--Dave Clark<br>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;WeCloud Founder
                </font>
 
            </div>
        </div>
</div>



{% endblock %}
