{% extends "blog.html" %}

{% block navbar %}

<nav class="navbar navbar-inverse" style="background-color: #3e5477;">

<!-- <nav class="navbar navbar-inverse"> -->
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <img src="/static/cloud.gif"  height="40" width="170">
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
		<li><a href=""></a></li>
		<li><a href=""></a></li>


      </ul>
      <ul class="nav navbar-nav navbar-right">

      </ul>
    </div>
  </div>
</nav>

{% endblock %}

{% block container %}
<meta charset="utf-8">

<div class="container">
	  <div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10" style="font-family:Sans-Serif;font-size:30px;color:#4d4f54;"><b>
		  The Premise Behind WeCloud
		
		
		</b>
			</div>
		<div class="col-sm-1"></div>	
	</div><br>
  <div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10" style="font-family:Sans-Serif;font-size:19px;color:#4d4f54;">
		  The ideal structure for WeCloud falls within it's uncomprimising framework.  WeCloud utilizes Django web app based framework with 90% Python code 
		  as it's structure.  WeCloud further makes use of MySQL to a tee such that users have an endless database structure.  
		
		
		
			</div>
		<div class="col-sm-1"></div>	
	</div>
</div>	
{% endblock %}
</body>
</html>
