{% extends "main.html" %}



{% block content %}
<div class="wrapper_main">
	<div class="frame1">  <br> </div>
		<div class="frame2">  
			<table>
				<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
				<tr><td colspan="2" style="color:#d9d9d9;font-size:30px;"><center><u>Error !</u></center></td></tr>
				<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
				<tr><td style="color:#d9d9d9;font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;Incorrect Password or Login</td></tr>
				<tr><td style="color:#d9d9d9;font-size:14px;">&nbsp;&nbsp;&nbsp;&nbsp;Please contact us if you are in need of assistance.</td></tr>
				<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;</td></tr>
			</table>
		</div>
	</div>
</div>
{% endblock %}

