{% extends "dashboard_main.html" %}

{% comment %}**************************************************
********************  Display Admin Link if Admin User ********
***********************************************{% endcomment %}
    width: 20px;
    height: 50px;
{% comment %}**************************************************{% endcomment %}



{% block content %}

<br>
<font face="Palatino Linotype" color=black size="3"><b><u>Job Matrix</u></b></font>
<style>
.rot {

    height: 70px;
    /* Rotate div */
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
</style>

<font face="Palatino Linotype" color=black size="2">
<table style="border:1px solid black;border-collapse:collapse;">
<tr>
<td style="border:1px solid black;">Employee</td>

           {% for job in Jobs %}
           <td class="rot" style="border:1px solid black;"><center><div> {{ job.name }}</div></center></td>
           {% endfor %}
           <td class="rot" style="border:1px solid black;"><center><a href="/matrice/">New Entry</a></center></td>
           </tr>

                {% for re in Result %}

                 {% comment %}***************************************
                 ***************  Below Value for end of row  *******
                 ************************************{% endcomment %}
                 {% if re == YX %}</tr><tr>

                 {% else %}
                    {% if re == NX %}

                        {% comment %}***************************************
                        ***************  Below Value for Untrained   *******
                        ************************************{% endcomment %}
                        <td style="border:1px solid black;"><center><a href="/matrice/get/{{ forloop.counter }}/">0</a></center></td>

                    {% else %}
                        {% if re == YY %}

                        {% comment %}***************************************
                        ***************  Below Value for Trained     *******
                        ************************************{% endcomment %}
                            <td style="border:1px solid black;"><center><a href="/matrice/get/{{ forloop.counter }}/">1</a></center></td>
                        {% else %}
                            <td style="border:1px solid black;"> {{ re }}</td>
                        {% endif %}
                    {% endif %}


                {% endif %}
                {% endfor %}

{% comment %}*****************************************************************************************
*****************************  Below Code to create active link to send data *************************
******************************************************************************************************
                    <td><center><a href="/matrice/get/{{ re }}/"> {{ re }}</a></center></td>
******************************************************************************************************
***************************************************************************************{% endcomment %}


             </tr><tr>
<td style="border:1px solid black;"><center><a href="/main_new/">New Entry</a></center></td></tr>
</table>
</font>
{% endblock %}