{% extends "web_templates/A/A.html" %}

<!-- Template A_2.html -->

{% block content %}
<div class="page-wrap">
<div class="container">

<br><br>
    <div class="row">
		<div class="col-sm-2"></div>
  
        
        <div class="col-sm-8" style="height:250px;background-color: #000000;opacity: 0.6;filter:alpha(opacity=60);border-radius: 15px;">
			    <a href="#page2_1_edit" role="button" class="button button1" data-toggle="modal"><center>
                <font color="white" style="z-index: 9999;">
                <h3><b>{{list.17.1}}</b></h3></font></center>
                </a>
					
                <a href="#page2_2_edit" role="button" class="button button1" data-toggle="modal">
				<p>{{list.18.1}}</p>
				</a>
                
                </p>
			</font>
        </div>
        
        
        
        <div class="col-sm-2"></div>
    </div>
    
    

</div>
</div>




	<!-- Proper sticky footer using main_a.css -->
    <footer class="site-footer">
      <div class="container">
        <p class="text-muted credit">{{list.12.1}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://martinbean.co.uk">{{list.0.1}}</a> &nbsp;&nbsp;&nbsp;|
        <a href="http://ryanfait.com/sticky-footer/">{{list.1.1}}</a>&nbsp;&nbsp;&nbsp;|
        <a href="http://ryanfait.com/sticky-footer/">{{list.2.1}}</a>&nbsp;&nbsp;&nbsp;|
        <a href="http://ryanfait.com/sticky-footer/">{{list.3.1}}</a>&nbsp;&nbsp;&nbsp;|
      </div>
    </footer>


	</font>
{% endblock %}	

