<div class="container"><br><br><br>
    <div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-6">
<form action="" method="post">{% csrf_token %}
<table>

<b><u>Tech Name</b></u>&nbsp;
<select name ="user">
<option value="Jim Barker">Jim Barker</option>
<option value="Rick Wurm">Rick Wurm</option>
<option value="Nigel McCracken">Nigel McCracken</option>
<option value="Toby Kuepfer">Toby Kuepfer</option>
<option value="Chris Strutton">Chris Strutton</option>
<option value="Terry Kennedy">Terry Kennedy</option>
<option value="Derek Peachey">Derek Peachey</option>
<option value="Scott Smith">Scott Smith</option></select>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<input type="submit">



</table>
</form>
</div>
<div class="col-sm-2"></div>
	</div>	
</div>