{% extends "dashboard_main_kodi.html" %}


{% block head1 %}

{% endblock %}


{% block content %}
	<br><br><br>
    <div class="row">
		<div class="col-sm-2"></div>
		

		<div class="col-sm-8" style="background-color:#000000;border-style: ridge;border-width: 5px;border-color: #A4A4A4;border-radius: 15px;">
                <font color="white" style="z-index: 9999;"><center>
                <h3><b><u>Installing Kodi</u></b></h3>
					</center>
				<br>
                <p>
                To install kodi on your system, whether it's an android box, computer, tablet or apple tv, just 
				click on the link below and follow the instructions.  It's pretty straight forward.  Just make
				sure you install Isengard for now.  Jarvis version does not have all the bugs out yet.</p>
				<p> Once Kodi has been installed you can go to the Video Addon section and install addons 
				that will enable you to watch Tv and Movies until your eyes bleed.
  				<br><br>
				<p><a href="http://kodi.tv/download/" style="color: #58FAF4"><b>INSTALL KODI</b></a></p><br>
				<p> ---- This tutorial was brought to you by WeCloud !</p>	
				
				
					
			</font>
        </div>
		
		<div class="col-sm-2"></div>
	</div>	<br><br>

		
		{% endblock %}


