{% extends "dashboard_main_kodi.html" %}


{% block head1 %}

{% endblock %}


{% block content %}
	<br><br><br>
    <div class="row">
		<div class="col-sm-2"></div>
		

		<div class="col-sm-8" style="background-color:#000000;border-style: ridge;border-width: 5px;border-color: #A4A4A4;border-radius: 15px;">
                <font color="white" style="z-index: 9999;"><center>
                <h3><b><u>Useful AddOns</u></b></h3><a href="https://www.youtube.com/watch?v=syppyjzbZC0" style="color: #58FAF4"><b></b></a>
				<font color="yellow"><b>*** Genesis is coming to an end and you need more reliable AddOns ***</b></font><br>
				<font color="yellow"><b>*** Below are links to how to add some useful addons.  I've listed them in order of effectiveness ***</b></font><br>
				</center>
				<br>
				<p><a href="https://seo-michael.co.uk/how-to-install-exodus-for-kodi/" style="color: #58FAF4"><b>Exodus</b></a> (Exodus is HERE !)
                It's back!   This is pretty much Genesis reborn.   Probably the best one if you only have one</p>
                <p><a href="https://seo-michael.co.uk/how-to-install-salts-stream-all-the-sources-for-xbmc-kodi/" style="color: #58FAF4"><b>SALTS (Stream All The Sources)</b></a> (TV shows-Excellent / Movies - OK)
                Salts is probably the best TV Show addon.  It loads fast and hardly ever buffers.  It contains an unbelievable amount of shows
                and it has great quality.</p>
                <p><a href="https://seo-michael.co.uk/tutorial-how-to-install-watch-1080-kodi/" style="color: #58FAF4"><b>WATCH 1080p</b></a> (MOVIES - Excellent)
                Watch1080p has a great selection and the quality if very good.  I haven't had any buffering issues and it's nice having just a few selections
				to choose from and knowing they all work.</p>					
                <p><a href="https://seo-michael.co.uk/how-to-manually-install-1channel-add-on-xbmc/" style="color: #58FAF4"><b>1Channel</b></a> (TV shows-Very Good / Movies - Good)
                Primewire's 1 Channel is still one of my favourites.  With Genesis going down sometime in the near future this is a very good
				alternative.</p>		
                <p><a href="https://seo-michael.co.uk/tutorial-how-to-install-velocity-kodi/" style="color: #58FAF4"><b>Velocity</b></a> (TV shows-Very Good / Movies - Good)
                Velocity is a brand new one and it seems pretty good.  It's a nice alternative and offers many of the same features
				Genesis had.</p>	
								
				<p> ---- This tutorial was brought to you by WeCloud !</p>	
				
				
					
			</font>
        </div>
		
		<div class="col-sm-2"></div>
	</div>	<br><br>

		
		{% endblock %}


