{% extends "dashboard_main_kodi.html" %}


{% block head1 %}

{% endblock %}


{% block content %}
	<br><br><br>
    <div class="row">
		<div class="col-sm-2"></div>
		

		<div class="col-sm-8" style="background-color:#000000;border-style: ridge;border-width: 5px;border-color: #A4A4A4;border-radius: 15px;">
                <font color="white" style="z-index: 9999;"><center>
                <h3><b><u>Working on a Stable Live TV (Coming Soon)</u></b></h3>
				
					
			</font>
        </div>
		
		<div class="col-sm-2"></div>
	</div>	<br><br>
	<div class="row">
		<div class="col-sm-12" style="background-color:#000000;border-style: solid;border-width: 1px;opacity: 0.7;filter:alpha(opacity=70);border-color: #A4A4A4;border-radius: 15px;">
			<font color="white" style="z-index: 9999;">

	</div>	
		
		{% endblock %}


