{% extends "dashboard_main_kodi.html" %}


{% block head1 %}

{% endblock %}


{% block content %}
	<br><br><br>
    <div class="row">
		<div class="col-sm-2"></div>
		

		<div class="col-sm-8" style="background-color:#000000;border-style: ridge;border-width: 5px;border-color: #A4A4A4;border-radius: 15px;">
                <font color="white" style="z-index: 9999;"><center>
                <h3><b><u>Remote Control App</u></b></h3><a href="https://www.youtube.com/watch?v=syppyjzbZC0" style="color: #58FAF4"><b></b></a>
				<font color="yellow"><b>*** Below is a very useful Remote Control App for your phone ***</b></font><br>
<br>
				</center>
				<br>
				<p><a href="http://yatse.tv/redmine/projects/yatse" style="color: #58FAF4"><b>Android</b></a> 
                Go to your playstore and search for yatse.  This one works best for Androids</p>
               </p>	
			   <p><a href="http://appcrawlr.com/ios/official-xbmc-remote" style="color: #58FAF4"><b>Iphone</b></a> 
                Go to your itunes and search for Official Kodi Remote.  This one works best for Iphones</p>
               </p>	
				<br>
				<p> 
                For both apps you must be connected to your local WiFi and just search in Manage section for Kodi.  It will
				then automaticlly find your running Kodi and boom, you have a remote control.</p>
               </p>	
					
			</font>
        </div>
		
		<div class="col-sm-2"></div>
	</div>	<br><br>

		
		{% endblock %}


